<main class="form">
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <h1 class="form-title">Log In</h1>
    <div class="form-part">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" formControlName="email" required>
      <div *ngIf="loginForm.invalid && emailControl?.touched && emailControl.errors">
        <span *ngIf="emailControl.errors['required']">Email is required</span>
        <span *ngIf="emailControl.errors['email']">Input must be an email</span>
      </div>
    </div>
    <div class="form-part">
      <label for="password">Password:</label>
      <input type="password" id="password"  formControlName="password" required>
      <div *ngIf="loginForm.invalid && passwordControl?.touched && passwordControl.errors">
        <span *ngIf="passwordControl.errors['required']">Password is required</span>
        <span *ngIf="passwordControl.errors['minlength']">Password must have at least 6 characters</span>
      </div>
    </div>
    <button type="submit" class="submit" [disabled]="loginForm.invalid">Log In</button>
    <div class="link">
      Don't have an account? 
      <a routerLink="/register">Register!</a>
    </div>
  </form>
</main>